---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import about from '../assets/about.webp';
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/global.css">
		<meta name="generator" content={Astro.generator} />
		<title>About Us</title>
		<style>
		    .about {
		        color: #585f69;
		        text-align: center;
		        margin-top: 80px;
		        margin-bottom: 80px;
            }
		    .about > h1 span{
		        color: #72c02c;
            }
		    .about > p{
		        font-size: 16px;
		        margin-bottom: 60px;
		    }
		    .about > .row{
		        text-align: left;
		    }
		    .about > .row > div{
		        display: flex;
                justify-content: flex-start;
                align-content: center;
                flex-wrap: wrap;
		    }
		    .about > .row > div > img{
		        max-width: 100%;
		        height: auto;
		    }
		</style>
	</head>
	<body>
		<Header />
		<main class="container about">
            <h1>About <span>Jieying</span></h1>
            <p>
                Since its establishment, Xiamen Jieying Network Technology Co., Ltd. has been committed to providing
                high-quality and high-end foreign trade website construction, optimization, promotion, maintenance,
                SEO, SEM, SNS and other one-stop services for foreign trade network marketing for excellent foreign
                trade enterprises in China. We have an efficient elite team that has designed various foreign trade
                website projects and accumulated rich experience in website construction technology and operation. With
                a work attitude of striving for excellence and a win-win work philosophy, we are rapidly developing
                with a good momentum. As an excellent domestic supplier of comprehensive solutions for foreign trade
                network marketing, we promise to provide high-quality and efficient services. For example, our foreign
                trade website building service not only provides professional SEO marketing website technology
                development, but also offers full guidance on SEO technology and backend operation training for foreign
                trade enterprise websites; Provide support for exchanging friendship links; Provide free website
                maintenance technical support during the service period; Provide value-added services such as excellent
                peer link construction and advertising link information data.
            </p>
            <div class="row">
                <div class="col-md-6 overflow">
                    <div>
                        <h3>Our mission</h3>
                        <p>Assist Chinese foreign trade enterprises in establishing their own online marketing centers
                        and enhancing their global online marketing capabilities.</p>
                    </div>
                    <div>
                        <h3>Our Vision</h3>
                        <p>Become a professional network marketing service provider for foreign trade enterprises.</p>
                    </div>
                    <div>
                        <h3>We are good at ...</h3>
                        <p>Provide professional foreign trade website construction, foreign trade website optimization,
                        Google optimization and other professional foreign trade network marketing services.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <Image src={about} alt="Jieying backend management system statistics"/>
                </div>
            </div>
        </main>
        <Footer />
	</body>
</html>
